:root {
  --primary-color: #ff5c35;
  --secondary-color: #ffcec2;
  --background-color: #0b8484;
  --text-color: #2e475d;
  --error-color: #b50001;
  --focus-color: #00d0e480;
  --shadow-color: #2133431f;
  --white-color: #ffffff;
  --black-color: #ffffff00;
  --active-color: #d44326;

  --button-fw: 600;
}

.btn,
.btn-outline {
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  color: var(--text-color);
  cursor: pointer;
  line-height: 1.2;
  font-weight: var(--button-fw);
  transition: all 0.2s ease-in-out;
}

.btn {
  background-color: var(--primary-color);
  border: none;
}

.btn-outline {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

button[class*="btn"]:active {
  background-color: var(--active-color);
  color: var(--text-color);
}

.btn:hover {
  background-color: var(--secondary-color);
}

.btn-outline:hover {
  background-color: var(--primary-color);
}

button[class*="btn"]:disabled {
  background: var(--secondary-color);
  opacity: 0.4;
  cursor: default;
}
