@import url("https://fonts.googleapis.com/css?family=Poppins:400");

:root {
  --primary-color: #ff5c35;
  --secondary-color: #ffcec2;
  --background-color: #0b8484;
  --text-color: #2e475d;
  --error-color: #b50001;
  --focus-color: #00d1e466;
  --focus-light-color: #00d1e433;
  --shadow-color: #2133431f;
  --white-color: #ffffff;
  --black-color: #ffffff00;
  --black-color2: #000011;
  --active-color: #d44326;
  --transparent-color: #ffffff00;
  --faded-white-color: #ced4da64;
  --placeholder-color: #b5b5b5;
  --success-color: rgb(151, 234, 131);
  --black-with-lowopacity: rgba(0, 0, 0, 0.25);
  --focus-color: #00d0e480;
  --shadow-color: #2133431f;
  --white-color: #ffffff;
  --black-color: #ffffff00;
  --active-color: #d44326;
  --transparent-color: #ffffff00;
  --primary-alert-color: #9ec5fe;
  --secondary-alert-color: #b5b5b5;
  --success-alert-color: #28a7466d;
  --info-alert-color: #17a2b8;
  --warning-alert-color: #ffc107b5;
  --danger-alert-color: #dc3546cf;
  --purple-alert-color: #9c59b6ba;
  --orange-alert-color: #e67d22c8;
  --card-border-width: 1px;
  --card-border-radius: 0.375rem;
  --card-inner-border-radius: calc(0.375rem - 1px);
  --card-border-color: #0000002d;
  --button-fw: 600;
  --half-rem-padding: 0.5rem;
  --nav-link-x-padding: 1rem;
  --button-fw: 600;
  --alert-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --nav-link-padding: var(--half-rem-padding) var(--nav-link-x-padding);
}

html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--white-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--black-color2);
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.btn {
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  color: var(--text-color);
  cursor: pointer;
  line-height: 1.2;
  font-weight: var(--button-fw);
  transition: all 0.2s ease-in-out;
  border: none;
  text-align: center;
  background: var(--primary-color);
}

.btn:active {
  background: var(--active-color) !important;
}

.btn-outline {
  border: 1px solid var(--primary-color) !important;
  background-color: var(--white-color) !important;
}

.btn:hover {
  background: var(--secondary-color);
}

.btn-outline:hover {
  background: var(--primary-color);
}

.btn:disabled {
  background-color: var(--secondary-color) !important;
  opacity: 0.4;
}

[disabled] {
  cursor: not-allowed;
}

.btn-white-text {
  color: var(--white-color) !important;
}

.form-label {
  margin-bottom: 0.5rem;
  display: block;
}

.form-text {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--text-color);
}

.form-control,
.form-select {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--white-color);
  border: 1px solid var(--faded-white-color);
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control {
  padding: 0.375rem 0.75rem;
  background-clip: padding-box;
  -webkit-appearance: none;
  appearance: none;
}

.form-control:not(:last-child) {
  margin-bottom: 0.5rem;
}

.form-control:focus,
.form-select:focus,
.form-check-input:focus {
  border-color: var(--focus-light-color);
  outline: 0;
  box-shadow: 0 0 0 0.1rem var(--focus-light-color);
}

.form-control:invalid {
  border-color: var(--error-color);
  outline: 0;
  box-shadow: 0 0 0 0.1rem var(--error-color);
}

.form-control::placeholder {
  color: var(--faded-white-color);
}

.form-control:disabled,
.form-select:disabled {
  background-color: var(--faded-white-color);
}

textarea.form-control {
  min-height: 4rem;
}

textarea {
  resize: vertical;
}

.form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer;
}

.form-check {
  display: block;
  min-height: 1.2rem;
  padding-left: 1.5em;
  margin-bottom: 0.5rem;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-input {
  width: 1em;
  height: 1em;
  vertical-align: top;
  background-color: var(--white-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid var(--black-with-lowopacity);
  -webkit-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  print-color-adjust: exact;
}
.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
}
.form-check-input[type="radio"] {
  border-radius: 50%;
}
.form-check-input:active {
  filter: brightness(90%);
}

.form-check-input:checked {
  background-color: var(--primary-color);
  color: var(--background-color);
  border-color: var(--primary-color);
}

.form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.form-check-input:checked[type="radio"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.form-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}
.form-check-input[disabled] ~ .form-check-label,
.form-check-input:disabled ~ .form-check-label {
  opacity: 0.5;
}

[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.form-select {
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid var(--faded-white-color);
  -webkit-appearance: none;
  appearance: none;
}

.form-range {
  width: 100%;
  height: 1.5rem;
  padding: 0;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
}

.form-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: var(--faded-white-color);
  border-color: transparent;
  border-radius: 1rem;
}

.form-range::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: -0.25rem;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 1rem;
  -webkit-transition: background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  appearance: none;
}

.form-range:focus {
  outline: 0;
}

.form-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px var(--white-color),
    0 0 0 0.25rem var(--focus-light-color);
}

.form-range::-webkit-slider-thumb:active {
  background-color: var(--active-color);
}

::-webkit-file-upload-button,
::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}

.form-control::-webkit-file-upload-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: var(--text-color);
  background-color: var(--white-color);
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: var(--text-color);
  background-color: var(--faded-white-color);
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  background-clip: border-box;
  border: var(--card-border-width) solid var(--card-border-color);
  border-radius: var(--card-border-radius);
  word-wrap: break-word;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: var(--half-rem-padding);
  color: var(--text-color);
}

.card-tittle {
  margin-bottom: var(--half-rem-padding);
}

.card-header {
  padding: var(--half-rem-padding);
  margin-bottom: 0;
  color: var(--text-color);
  background-color: var(--placeholder-color);
  border-bottom: var(--card-border-width) solid var(--card-border-color);
}

.card > .card-header {
  border-top: 0px;
}
.card > h2,
h3,
h4,
h5 {
  margin-top: 0px;
  margin-bottom: 8px;
}
.card-text:last-child {
  margin-bottom: 0;
}

.card-header:first-child {
  border-radius: var(--card-inner-border-radius) var(--card-inner-border-radius)
    0 0;
}

.card > .card-body p {
  margin-top: 0px;
  line-height: 1.25rem;
}

.card-footer {
  padding: var(--half-rem-padding);
  color: var(--text-color);
  background-color: var(--placeholder-color);
  border-top: var(--card-border-width) solid var(--card-border-color);
}

.card-footer:last-child {
  margin-bottom: 0px;
  border-radius: 0 0 var(--card-inner-border-radius)
    var(--card-inner-border-radius);
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: var(--card-inner-border-radius);
  border-top-right-radius: var(--card-inner-border-radius);
}

.card-img,
.card-img-bottom {
  border-bottom-left-radius: var(--card-inner-border-radius);
  border-bottom-right-radius: var(--card-inner-border-radius);
}

.card > .list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: var(--card-border-radius);
}

.card > .list-group-wrapper {
  border-radius: 0;
  margin-top: 0px;
}

.card > .list-group > .card-list-item {
  border-width: 0 0 var(--card-border-width);
}

.card-list-item {
  position: relative;
  display: block;
  color: var(--text-color);
  text-decoration: none;
  padding: var(--half-rem-padding);
  border: var(--card-border-width) solid var(--card-border-color);
}

.card-list-item:last-child {
  border-bottom: 0px;
}

.card > .list-group {
  border-top: inherit;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: var(--nav-link-padding);
  font-size: var(--nav-link-font-size);
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  width: fit-content;
}

.nav-link:active {
  color: var(--active-color);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.nav-link:focus {
  width: fit-content;
  border-bottom: var(--card-border-width) solid var(--background-color);
}

.nav-link:disabled {
  color: var(--placeholder-color) !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: end !important;
}

.flex-direction-column {
  flex-direction: column !important;
}

.alert {
  position: relative;
  padding: 1rem;
  border: var(--card-border-width) solid var(--card-border-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--alert-box-shadow) inset;
  color: var(--text-color);
  background: var(--transparent-color);
}

.alert-primary {
  background-color: var(--primary-alert-color);
}

.alert-secondary {
  background-color: var(--secondary-alert-color);
}

.alert-success {
  background-color: var(--success-alert-color);
}
.alert-info {
  background-color: var(--info-alert-color);
}

.alert-warning {
  background-color: var(--warning-alert-color);
}
.alert-danger {
  background-color: var(--danger-alert-color);
}
.alert-purple {
  background-color: var(--purple-alert-color);
}
.alert-orange {
  background-color: var(--orange-alert-color);
}

.alert-link {
  font-weight: 700;
}

.alert-info .alert-link {
  color: var(--white-color);
  text-decoration: underline;
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: var(--black-color2);
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: 0.5;
}
.btn-close:hover {
  color: var(--black-color2);
  text-decoration: none;
  opacity: 0.75;
}

.btn-close:disabled,
.btn-close.disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  opacity: 0.25;
}

.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}

.nav-with-bg {
  background-image: url(https://www.gstatic.com/images/icons/material/apps/fonts/1x/catalog/v5/heroes/knowledge-overview-bg-light.jpg=w1200) !important ;
}

.btn:active {
  background: var(--active-color) !important;
}

.btn-outline {
  border: 1px solid var(--primary-color) !important;
  background-color: var(--white-color) !important;
}

.btn:hover {
  background: var(--secondary-color);
}

.btn-outline:hover {
  background: var(--primary-color);
}

.btn:disabled {
  background-color: var(--secondary-color) !important;
  opacity: 0.4;
}

.btn-white-text {
  color: var(--white-color) !important;
}
