:root {
  --primary-color: #ff5c35;
  --secondary-color: #ffcec2;
  --background-color: #0b8484;
  --text-color: #2e475d;
  --error-color: #b50001;
  --focus-color: #00d1e466;
  --focus-light-color : #00d1e433;
  --shadow-color: #2133431f;
  --white-color: #ffffff;
  --black-color: #ffffff00;
  --active-color: #d44326;
  --transparent-color: #ffffff00;
  --faded-white-color: #ced4da;
  --placeholder-color: #8f8f8f;

  --button-fw: 600;

  --border-width: 1px;
}

*{
  box-sizing: border-box;
}

.btn {
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  color: var(--text-color);
  cursor: pointer;
  line-height: 1.2;
  font-weight: var(--button-fw);
  transition: all 0.2s ease-in-out;
  border: none;
  text-align: center;
  background: var(--primary-color);
}

.btn:active {
  background: var(--active-color) !important;
}

.btn-outline {
  border: 1px solid var(--primary-color) !important;
  background-color: var(--white-color) !important;
}

.btn:hover {
  background: var(--secondary-color);
}

.btn-outline:hover {
  background: var(--primary-color);
}

.btn:disabled {
  background-color: var(--secondary-color) !important;
  cursor: not-allowed;
  opacity: 0.4;
}

.btn-white-text {
  color: var(--white-color) !important;
}


/* Form  stlyes */

.form-label {
  margin-bottom: 0.5rem;
}

.form-text {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--text-color);
}

/* .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--white-color);
  background-clip: padding-box;
  border: 1px solid var(--faded-white-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
} */



.form-control:focus {
  color: var(--text-color);
  background-color: var(--white-color);
  border-color: var(--focus-light-color);
  outline: 0;
  box-shadow: 0 0 0 0.10rem var(--focus-light-color);
}

.form-control:invalid {
  color: var(--text-color);
  background-color: var(--white-color);
  border-color: var(--error-color);
  outline: 0;
  box-shadow: 0 0 0 0.10rem var(--error-color);
}

.form-control::placeholder {
  color: var(--faded-white-color);
  opacity: 1;
}

.form-control:disabled {
  background-color: var(--faded-white-color);
  opacity: 1;
}

textarea.form-control {
  min-height: calc(1.5em + 0.75rem + 2px);
}

.form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  print-color-adjust: exact;
}
.form-check-input[type=checkbox] {
  border-radius: 0.25em;
}
.form-check-input[type=radio] {
  border-radius: 50%;
}
.form-check-input:active {
  filter: brightness(90%);
}
.form-check-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-check-input:checked {
  background-color: #ca5e0c;
  border-color: #fd0d4d;
}

.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.form-check-input:checked[type=radio] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.form-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}
.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
  cursor: default;
  opacity: 0.5;
}


/* __________________________________________________ 

*/

.col-form-label {
  padding-top: calc(0.375rem + var(--border-width));
  padding-bottom: calc(0.375rem + var(--border-width));
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
  /* background: blue; */
}

label:first-of-type{
  margin-top: 0px;
}


input[type="checkbox"] + label,
input[type="radio"] + labe {
background-color: greenyellow;
}

input[type="checkbox" i]{
  background: blue;
  content: '@';
  cursor: pointer;
  background-color: red;

}